/* Global styles */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400; /* Normal font weight */
    margin: 0;
    padding: 0;
    /* Add padding-top to push main content below the fixed header */
    padding-top: 80px;
}


/* Header styles */
header {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: all 0.3s ease;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

header .navbar-brand img {
    max-width: 100px;
    height: auto;
}

header .collapse.navbar-collapse {
    transition: height 0.3s ease;
}

header .navbar-nav {
    margin-right: 10px;
}

/* Media Queries */
@media (max-width: 767px) {
    header .container {
        height: auto;
    }

    header .navbar-toggler {
        margin-right: 10px;
    }

    header .collapse.navbar-collapse {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background-color: #f8f9fa;
        z-index: -1;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease;
    }

    header .collapse.show.navbar-collapse {
        height: calc(100vh - 80px);
        z-index: 1;
    }
}
