body {
    font-family: 'Montserrat', sans-serif;

}



header nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}


/* Container styles */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Link styles */
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    color: #007bff;
}


footer {
    background-color: #f5f5f5;
    padding: 20px 0;
    text-align: center;
    clear: both;
}

footer p {
    margin: 0;
    color: #888;
}